# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Waf
## Build dir
build/
## Unpackaged waflib
## It's dot-hidden on Unix-like system, but on Windows it is just
## labelled as a hidden directory (no dot).
.waf*-*-*/
waf*-*-*/
## Waf lockfile
.lock-waf*

## Dist outputs
## Make sure these are ignored by git in some way else get_git_nodes()
## will pick up the archive file and try to recursively add it.
*.tar.*
*.zip

# pyenv version files
.python-version
